{% extends 'base.html' %}
{% block title %}Panel de administrador{% endblock %}

{% block content %}
<div class="page-center">
  <div class="form-card">
    <div class="card-head">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo Transporte Express de Comida">
      <h1>¿Qué quieres hacer?</h1>
    </div>
    <div class="choice-wrap">
      <a class="btn btn-lg btn-outline-info" href="/adminOrder/{{admin_id}}">Ver pedidos</a>
      <a class="btn btn-lg btn-outline-info" href="/adminDelivery_boy/{{admin_id}}">Agregar repartidor</a>
      <a class="btn btn-lg btn-outline-info" href="/adminOffer/{{admin_id}}">Agregar ofertas</a>
      <a class="btn btn-lg btn-outline-info" href="/adminProduct/{{admin_id}}">Agregar producto</a>
      <a class="btn btn-lg btn-outline-info" href="/adminSeller/{{admin_id}}">Agregar vendedor</a>
    </div>
  </div>
</div>
{% endblock %}
